<html>
<head>
	<title>Ruutu.fi scraper</title>
	<link rel="stylesheet" type="text/css" href="css/site.css">
	<link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
	<header>
		<a href="/">Ruutu.fi scraper</a>
	</header>
	<% if(message) { %>
		<div class="alert alert-danger" role="alert">
			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			<span class="sr-only">Error:</span>
			<%= message %>
		</div>
	<% } %>
	<form name="search" action="/scrape" method="POST">
		<div class="input-group">
			<input id="tbSearch" class="form-control" type="url" placeholder="Enter ruutu.fi url or select tag" name="url" required pattern="^http://www.ruutu.fi/video/.+" title="Url should start with http://www.ruutu.fi/video/">			
			<span class="input-group-btn">
				<button class="btn btn-primary" type="submit">Scrape it!</button>
			</span>
		</div>
	</form>	
	<div id="main">
 		<section class="container"></section>
	</div>
	<footer></footer>
	<script src="jquery/dist/jquery.min.js"></script>
	<script src="bootstrap/dist/js/bootstrap.min.js"></script>
	<script>
		$.ajax({
				method: "POST",
				url: "/popular",
				data: { limit: 10 },
				cache: true
			}).done(function(data) {
				for(var i=0; i<data.length; ++i) {
					var anchor = $("<a>");					
					anchor.attr("class", "container-item");
					anchor.attr("href", data[i].mediaUrl);
					anchor.attr("title", data[i].description);
					anchor.attr("data-url", data[i].url);
					//anchor.attr("target", "mediaFrame");
					anchor.html("<figure><figcaption>" + data[i].programName + 
						"</figcaption><img src='" + data[i].imageUrl + "'' alt='" + data[i].programName + "''></figure>");
					anchor.click(function() {
						$("#tbSearch").val($(this).attr("data-url"));
					});
					$("#main section.container").append(anchor);
				}
			});
	</script>
</body>
</html>