<html>
<head>
	<title>Ruutu.fi scraper</title>
	<link rel="stylesheet" type="text/css" href="css/site.css">
	<link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
	<header>
		<a href="/">Ruutu.fi scraper</a>
	</header>
	<div id="main">
		<section class="container">
		    <a class="container-item" href="<%= data.mediaUrl %>" title="<%= data.description %>" target="mediaFrame">
				<figure>
					<figcaption><%= data.programName %></figcaption>
					<img src="<%= data.imageUrl %>" alt="<%= data.programName %>">
				</figure>
			</a>			
		</section>
	</div>
	<footer></footer>
	<script src="jquery/dist/jquery.min.js"></script>
	<script src="bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>