@font-face {
	font-family:"Raleway";
	src: url("fonts/Raleway_gdi.eot");
	src: url("fonts/Raleway_gdi.eot?#iefix") format("embedded-opentype"),
	url("fonts/Raleway_gdi.woff") format("woff"),
	url("fonts/Raleway_gdi.ttf") format("truetype"),
	url("fonts/Raleway_gdi.svg#Raleway-Regular") format("svg");
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2212;
}

html {
	font-family: Raleway, Arial, Helvetica, sans-serif;
}

body {
	background: white;
	margin: 0;
}
#main {			
	background: white;
}
form {
	text-align: center;
	margin: 1em auto;
	max-width: 700px;	
}

header {
	text-align: center;
	background: black;
	width: 100%;
}
header a {
	color: white;
	text-decoration: none;

	font-weight: bold;
	font-size: 2em;				
}
footer {
	position: fixed;
	bottom: 0;
	text-align: center;
	background: black;
	width: 100%;
	height: 2em;
}

.container {
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: flex-start;
	margin-top: 1em;
}
.container-item {			
	justify-content: center;
	align-items: center;
	position: relative;	
	text-align: center;

	margin: 0.5em;
	width: 400px;
	height: 250px;
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: 400px;
}
.container-item figure {
	position: relative;
	margin: 0;
}
.container-item figcaption {				
	bottom: 0;
	left: 0;
	position: absolute;

	width: 100%;
	height: 30%;			

	text-align: center;
	padding-top: 1em;
	overflow: hidden;
	background: black;
	color: white;
	font-size: 1.15em;				
}
.container-item img {
	width: 100%;
}